* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
  overflow: hidden;
  background: #05010f;
}

.hidden {
  display: none !important;
}
.scene-fade-in {
  animation: sceneFadeIn 1.8s ease forwards;
}

.scene-fade-out {
  animation: sceneFadeOut 1.2s ease forwards;
}

@keyframes sceneFadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes sceneFadeOut {
  from {
    opacity: 1;
    filter: blur(0);
  }

  to {
    opacity: 0;
    filter: blur(10px);
  }
}

.transition-overlay {
  position: fixed;
  inset: 0;
  background: #03020a;
  z-index: 9999;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none;
}

.transition-overlay.show {
  opacity: 1;
}
* {
  caret-color: transparent;
}

input,
textarea {
  caret-color: auto;
}
